/* Amazon Link */

/* Section Visibilty (Toggle) */
.hide {
  display: none;
}

/* Section Spacer */
.separator {
  margin-top: 50px;
  margin-bottom: 30px;
}


/* Sections */

#page {
  
}

#redirect {
  
}

#link {
  
}

#new {
  
}

#old {
  
}

#list {
  
}

#noscript {
  
}
